@model BusBoard.Web.ViewModels.BusInfo
@{
    ViewBag.Title = "Bus Information";
}

<style>
    td {
        border-left: 1px groove;
        border-top: 1px groove;
        border-color: #024EA3;
    }

    table {
        border-right: 1px groove;
        border-bottom: 1px groove;
        border-color: #024EA3;
    }
</style>

<div class="row">
    @if (Model.isInLondon == false)
    {
        <p>Your Post Code does not have any tfl bus stops within 1000m, please try again</p>


    }
    else
    {
        <div class="jumbotron">

            <h1 style=" display:inline-flex ; color:#024EA3"><img src="http://londonroadsafetycouncil.org.uk/wp-content/uploads/2016/05/TfL-logo.png" alt="TFLLogo" style="width:200px;height:60px;"> BusBoard</h1>
            <p class="lead">You entered postcode <strong>@Model.PostCode.ToUpper()</strong></p>
        </div>

        <p>
            <strong>
                Your nearest 2 bus stops:
            </strong>
        </p>

        <p>@Model.BusStopName1 </p>
        <table>
            <thead>
                <tr>
                    <td>
                        Bus Number
                    </td>
                    
                    <td>
                        Seconds until Arrival
                    </td>
                </tr>
            </thead>
            <tr>
                <td>
                    @if (Model.orderedResult.Count >= 1)
                    {
                        @Model.orderedResult[0].lineId
                    }
                </td>
                
                <td>
                    @if (Model.orderedResult.Count >= 1)
                    {
                        @Model.orderedResult[0].timeToStation
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.orderedResult.Count >= 2)
                    {
                        @Model.orderedResult[1].lineId
                    }
                </td>
                
                <td>
                    @if (Model.orderedResult.Count >= 2)
                    {
                        @Model.orderedResult[1].timeToStation
                    }
                </td>
            </tr>
            <tr>
                <td>

                    @if (Model.orderedResult.Count >= 3)
                    {
                        @Model.orderedResult[2].lineId
                    }

                </td>
                
                <td>
                    @if (Model.orderedResult.Count >= 3)
                    {
                        @Model.orderedResult[2].timeToStation
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.orderedResult.Count >= 4)
                    {
                        @Model.orderedResult[3].lineId
                    }
                </td>
                
                <td>
                    @if (Model.orderedResult.Count >= 4)
                    {
                        @Model.orderedResult[3].timeToStation
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.orderedResult.Count >= 5)
                    {
                        @Model.orderedResult[4].lineId
                    }
                </td>
                
                <td>
                    @if (Model.orderedResult.Count >= 5)
                    {
                        @Model.orderedResult[4].timeToStation
                    }
                </td>
            </tr>
        </table>

        <br />
        <br />

        <p>@Model.BusStopName2 </p>
        <table>
            <thead>
                <tr>
                    <td>
                        Bus Number
                    </td>
                    
                    <td>
                        Seconds until Arrival
                    </td>
                </tr>
            </thead>
            <tr>
                <td>
                    @if (Model.orderedResult2.Count >= 1)
                    {
                        @Model.orderedResult2[0].lineId
                    }
                </td>
                
                <td>
                    @if (Model.orderedResult2.Count >= 1)
                    {
                        @Model.orderedResult2[0].timeToStation
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.orderedResult2.Count >= 2)
                    {
                        @Model.orderedResult2[1].lineId
                    }
                </td>
                
                <td>
                    @if (Model.orderedResult2.Count >= 2)
                    {
                        @Model.orderedResult2[1].timeToStation
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.orderedResult2.Count >= 3)
                    {
                        @Model.orderedResult2[2].lineId
                    }
                </td>
                
                <td>
                    @if (Model.orderedResult2.Count >= 3)
                    {
                        @Model.orderedResult2[2].timeToStation
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.orderedResult2.Count >= 4)
                    {
                        @Model.orderedResult2[3].lineId
                    }
                </td>
                
                <td>
                    @if (Model.orderedResult2.Count >= 4)
                    {
                        @Model.orderedResult2[3].timeToStation
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.orderedResult2.Count >= 5)
                    {
                        @Model.orderedResult2[4].lineId
                    }
                </td>
                
                <td>
                    @if (Model.orderedResult2.Count >= 5)
                    {
                        @Model.orderedResult2[4].timeToStation
                    }
                </td>
            </tr>

        </table>
    }
</div>
